<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Guest Book</title>
</head>
<body>
<h2>Search Messages</h2>
<div><a href="/">Home</a></div>
<form action="#" th:action="@{/messages/search}" th:object="${msg}" method="post">
    <table>
        <tr>
            <td><label for="name" class="bold">Name:</label></td>
            <td><input type="text" id="name" name="name" th:field="*{name}"/>&nbsp;(Leave blank to search all messages)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Search"/></td><td></td>
        </tr>
    </table>
</form>
<p>
Search Result:<br/>
<table id="result">
    <tr><td class="bold">Name</td><td class="bold">Message</td><td class="bold">Date</td></tr>
    <tr><td colspan="3"><hr/></td></tr>
    <tr th:each="hit: ${hits}">
        <td th:text="${hit.name}"></td>
        <td th:text="${hit.content}"></td>
        <td th:text="${hit.date}"></td>
    </tr>
</table>
</p>
</body>
</html>